body {
    background-color: green;
}

@media screen and (max-width : 1300px) {
    body {
        background-color: red;
    }
}

@media screen and (max-width : 500px) {
    body {
        background-color: yellow;
    }
}