body {
    background-color: aliceblue;
}
.main {
    background-color: antiquewhite;
}
h1, li, a{
    color: red;
}
li {
    font-size: medium;
}
#first , #second, #third{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
}
#yellow {
    background-color: yellow;
    height: 185px;
}
#blue {
    background-color: blue;
    height: 130px;
}
#red {
    background-color: red;
    height: 130px;
}
#yellow, #blue, #red {
    margin: 0;
    padding: 0;
}