body {
    background-color: aqua;
}

.box {
    margin: 120px 20vw 0 52vw;
    /* transform: rotateX(45deg); */

    /* transform: rotateY(5deg); */
    
    transform: rotateZ(4deg);
    transform: skew(10deg);
}