.box {
    background-color: aqua;
    height: 250px;
    width: 300px;
    min-height: 35vh;
    max-height: 50vh;
}

.box1 {
    background-color: aqua;
    height: 250px;
    width: 300px;
    min-width: 35vw;
    max-width: 50vw;
}