* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    height: 50px;
    color: white;
    position: sticky;
    top: 0;
}

li {
    display: inline;
    list-style: none;
    font-size: 2vw;
    padding: 1vw 6px;
    margin: 1vw;
    top: 25px;
}

#b {
    font-size: 24px;
}

.content  {
    background-color: aqua;
    height: 150vh;
    padding: 10px;
    font-size: 20px;
    /* position: relative;  Uncomment this and scroll the page...*/
    /* z-index: 3; */
}