* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    height: 64px;
    position: sticky;
    top: 0px;
}

ul {
    display: inline;
    padding: 20px 50px;
}




li {
    list-style: none;
    display: inline;
    font-size: 2.12vw;
    padding: 0 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
}

.background {
    background-image: url(practice4.jpg);
    height: 45vh;
    width: 1920px;
    background-size: 100vw 60vh;
    clear: right;
}

.profile {
    height: 50vh;
    width: 100vw;
    background-color: aqua;
    border: 3px solid grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 12px;
}

img {
    padding: 20px;
}