* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: black;
    height: 70px;
    font-size: 20px;
    color: white;
}

.nav ul li a {
    color: white;
    font-family: 'Tiro Bangla', serif;
    text-decoration: none;
}

.nav ul li {
    display: inline-block;
    margin: 18px 18px;
    font-size: 20px;
}

.left {
    background-color: red;
    width: 50%;
    height: 90vh;
    font-family: 'Tiro Bangla', serif;
    display: inline-block;
}

.right {
    background-color: green;
    width: 50%;
    height: 90vh;
    font-family: 'Tiro Bangla', serif;
    display: inline-block;
}

.footer {
    background-color: black;
    color: white;
    font-family: 'Tiro Bangla', serif;
    font-size: 20px;
    padding: 10px;
    text-transform: capitalize;
}

.center {
    text-align: center;
    
}